<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
    <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
        <div class="div_titulo_card margin-auto" v-html="dados.titulo"></div>
        <div style="margin-top: 20px;">                    
            <div class="div_descricao margin-auto" v-html="dados.descricao"></div>
            <p class="p_espaco_100"></p>
            <p class="p_label">Altere o valor do empréstimo</p>
            <div style="margin-left: 20px;margin-right: 20px;display: flex;">
                <span class="span_input_prefixo">R$</span>
                <input class="input_principal" inputmode="numeric" ref="inputprincipal" v-money="money" v-model="principal" v-on:change="alteraPrincipal" v-on:click="selectAll">
                <span class="span_input_sufixo">,00</span>
            </div>                  
            <p class="p_mensagem_invalido" v-show="!valido">Valor excede o máximo permitido!</p>                
            <p class="p_espaco_30"></p>
            <p class="p_label">Parcelamento</p>
            <p class="p_slider">
                <vue-slider v-model="quantidade" ref="slider" v-bind="sliderOptions" :tooltip-formatter="formatter1"></vue-slider>
            </p>
            <p class="p_valor-simulado">
                <span>{{ quantidade }} x de R$ {{ parcela }}</span> 
            </p>
            <p class="p_label">* Valor calculado para primeira parcela</p>
            <p class="p_espaco_30"></p>
            <div class="mdl-shadow--2dp div_btn_contratar" ref="botao" @click="contratarEmprestimo">
                Contratar
            </div>
        </div>
    </div>
</div>
