.span_contribuicao_prefixo {
    font-family: 'MaisFuturo-Bold';        
    font-size: 22px;
    letter-spacing: -1px;
    margin-right: 5px;
}
.span_contribuicao_valor {
    font-family: 'MaisFuturo-Black';
    font-size: 40px;
    letter-spacing: -2px;
    color: #0C7BC6;
}
.p_label_renda {
    margin-bottom: 2px; 
    margin-left: 2px;
    font-size: 10px;
    font-family: 'MaisFuturo-Medium';
    color: #3B3C3E;
    letter-spacing: -0.19px;
    opacity: 0.7;
    height: 14px;
    margin-bottom: 5px;
}
.span_valor {
    font-family: 'MaisFuturo-Bold';    
    font-size: 16px;
    letter-spacing: -2px;    
    color: #003366; 
}
.span_valor_projetado {
    font-family: 'MaisFuturo-Black';
    font-size: 26px;
    letter-spacing: -2px;    
    color: #003366;
}
.span_prefixo {
    font-family: 'MaisFuturo-Bold';        
    font-size: 22px;
    letter-spacing: -1px;
    margin-right: 5px;
}