.msg-vigencia {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: 'MaisFuturo-Medium';
    color: #3B3C3E;
    letter-spacing: -0.19px;
    opacity: 0.7;
    height: 20px;
    line-height: 14px;
    margin-bottom: 5px;
}

