<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
    <template v-if="!finalizado">
        <div class="mdl-card__supporting-text mdl-card-container">
            <div class="div_titulo_card margin-auto" v-html="dados.titulo" style="margin-top: 20px;">
            </div>
            <div style="margin-top: 30px;">
                <p class="p_label_renda">Tipo de contratação</p>
                <p style="margin-bottom: 1px;">
                    <span class='line span_valor_projetado'>            
                        {{ contratacao.tipo }}
                    </span>
                </p>
            </div>
            <div style="margin-top: 20px;">
                <p class="p_label_renda">Status da contratação</p>
                <p style="margin-bottom: 1px;">
                    <span class='line span_valor_projetado'>            
                        {{ contratacao.status }}
                    </span>
                </p>
            </div>
            <div style="margin-top: 20px;">
                <p class="p_label_renda">Valor anterior</p>
                <p style="margin-bottom: 1px;">
                    <span class='line span_valor_projetado'>            
                        R$ {{ valor_anterior }}
                    </span>
                </p>
            </div>            
            <div style="margin-top: 20px;">
                <p class="p_label_renda">Valor contratado</p>
                <p style="margin-bottom: 1px;">
                    <span class='line span_valor_projetado'>            
                        R$ {{ valor_atual }}
                    </span>
                    <i class="material-icons" v-if="resumo && !mostraDetalhe" @click="detalheContratacao" style="color: #003366; line-height: 28px;">keyboard_arrow_down</i>                                
                    <i class="material-icons" v-if="resumo && mostraDetalhe" @click="detalheContratacao" style="color: #003366; line-height: 28px;">keyboard_arrow_up</i>                                                    
                </p>
            </div>
            <div class="grid_contratacao" v-if="mostraDetalhe && resumo" style="margin-top: 10px;">
                <template v-for="item in resumo">                
                    <div class='resumo' v-html="item.nome"></div>
                    <div class='resumo' v-html="item.valor"></div>                                                   
                </template>
            </div>                        
            <div id="msg-vigencia" v-if="(efetivada || cancelada)" class="msg-vigencia" >
                <p>{{ msg_vigencia }}</p>
            </div>
            <div v-if="error_banco" style="margin-top: 20px;color: brown; font-size: 14px;">
                <p>Ops, algum problema ocorreu e sua solicitação não foi gravada. Tente novamente mais tarde!</p>            
            </div>
            <div style="margin-top: 30px;">
                <div class="mdl-shadow--2dp div_btn_contratar"  @click="retornar" style="margin-top: 30px;">
                    Retornar
                </div>  
                <div id="cancelar-contratacao" class="mdl-shadow--2dp div_btn_voltar" v-if="(!lancada && !efetivada && !cancelada)" @click="cancelarContratacao" style="background-color: darkred;">
                    Cancelar Contratação
                </div>
            </div>
        </div>
        <div class="msg-erro" v-if="erroCancelamento">
            <span>Ops!</span>
            <p><br><br>Ocorreu um erro na efetivação de sua solicitação.<br><br>Tente novamente mais tarde e se o erro persistir, entre em contato conosco através do e-mail contato@maisfuturo.com.br </p>
        </div>            
    </template>
    <template v-if="finalizado">
        <div class="mdl-card__supporting-text mdl-card-container">
            <div class="div_titulo_card margin-auto" v-html="dados.titulo" style="margin-top: 20px;">
            </div>        
            <div style="margin-top: 40px;">
                Contratação cancelada com sucesso!
            </div>            
            <div class="mdl-shadow--2dp div_btn_contratar"  @click="retornar" style="cursor:pointer; margin-top: 40px;">
                Retornar
            </div>
        </div>            
    </template>
</div>