<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
    <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
        <div class="div_titulo_card margin-auto" v-html="dados.titulo"></div>
    </div>
    <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
        <div class="div_dflex_center">
            <span class="span_reserva_text_2 span_text_perfil">Perfil {{ nome_perfil }}</span>
        </div>
    </div>
    <div class="mdl-card__supporting-text mdl-card-container div_margem_card margin_top_zero">
        <div class="fp-post mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing div_grafico">
            <grafico-perfil class="canvas_grafico_doughnut" :chartdata="grafico_perfil" />
            <div class="div_grafico_reserva_legenda">
                <div class="div_titulo_legenda">
                    Composição do Perfil
                </div>
                <div>
                    <template v-for="legenda in legenda_perfil">
                        <dl class="dl_reserva_legenda">
                            <dt class="dt_reserva_legenda dt_perfil">{{ legenda.nome }}</dt>
                            <dd class="dd_reserva_text">                        
                                <span class="span_reserva_legenda_2" v-bind:style="legenda.cor">{{ legenda.valor }}</span>
                            </dd>
                        </dl>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
        <p class="p_margin_30"></p>
        <div class="div_titulo_card margin-auto" style="margin-bottom: 15px;">
            Comparativo de </br>rentabilidade
        </div>
        <div class="fp-post mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing div_grafico">
            <grafico-benchmark class="canvas_grafico_benchmark" :chartdata="grafico_benchmark" />
        </div>
        <div class="div_select_right">
            <div class="div_vSelect_cadastro">
                <span class="Span_Label_vSelect_v2">Período</span><br>
                <v-select :searchable="false" v-model="quantidade_meses" :options="lista_quantidade_meses" style="width: 100%"></v-select>
            </div>
        </div>
        <p class="p_margin_30"></p>
        <div class="div_titulo_card margin-auto" style="margin-bottom: 20px;">
            Rentabilidade
        </div>
        <div class="mdl-card-left" style="display: table !important;">
            <div class="mdl-card-left div_tabela_titulo">
                Mês/Ano
            </div>
            <div class="mdl-card-right div_tabela_titulo">
                Valor
            </div>
            <div v-for="indice in indicesPerfil" style="margin-left: 15px;">
                <div class="mdl-card-left div_tabela_item justify-content_left">
                    {{ indice.anomes }}
                </div>
                <div class="mdl-card-left div_tabela_item justify-content_center">
                    {{ indice.valor }}
                </div>
            </div>
        </div>
        <div class="mdl-card-right div_titulo_acumulado">
            <span class="span_titulo_acumulado">Acumulado {{ quantidade_meses }}</span>
            <p style="margin-bottom: 5px;" v-for="acumulado in acumulados" v-if="acumulado">
                <span class="span_label_acumulado"> {{ acumulado.nome }} </span>
                <span class="span_indice_acumulado" v-bind:style="acumulado.cor">
                    {{ acumulado.indice }}%
                </span>
            </p>
        </div>
        <!-- <div class="mdl-card__supporting-text mdl-card-container" style="padding-top:20px !important;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar, 
            justo non dictum hendrerit, tortor erat iaculis turpis, ac varius leo augue at felis. 
            Mauris rutrum purus suscipit nunc condimentum elementum. Fusce eget mi augue. Fusce 
            vestibulum sapien sit amet orci dignissim euismod. Mauris finibus lectus ac Leo fringilla
            bibendum. Praesent quis aliquam dui. Aliquam eu condimentum enim. Etiam viverra lacus magna,
            eu commodo lorem ultrices varius. Maecenas et vestibulum urna, sit amet posuere libero. 
            Maecenas quis enim massa. Nam elementum rhoncus ligula, ac ullamcorper sapien semper accumsan. 
            Sed non laoreet sapien. Aliquam ut vulputate nulla. Maecenas lectus metus, lacinia nec commodo 
            vel, elementum quis felis. Maecenas eu dolor rhoncus risus molestie faucibus. 
            Donec efficitur scelerisque commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In pulvinar, justo non dictum hendrerit, tortor erat iaculis turpis.
        </div>         -->
    </div>
</div>