<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
    <template v-if="displayIcon">
        <!--Serviços Mais Futuro-->        
        <div class="mdl-card__supporting-text mdl-card-container div-container gridTitle__serv">
            <div class="mdl-card__supporting-text mdl-card-container div-container">     
                <div class="div_titulo_card SectionTitle__serv">
                    Serviços<br/>maisfuturo
                </div>               
            </div>
            <!-- <div class="SectionImgServicos__serv">
                <img v-bind:src="icon_list" width="55" height="55" style="cursor:pointer;" @click="toggledisplayList"/>
            </div> -->
        </div>
        <!-- Tabela Histórico Serviços - Ícones Grandes -->
        <div class="mdl-card__supporting-text mdl-card-container div-container grid-2C__serv">                         
            <div class="TableIcons__serv">
                <img v-bind:src="icon_segunda_via_boleto" width="120" height="120" style="cursor:pointer;" @click="clickPage('historico-contribuicao')"><br>
                <span class="IconsText__serv" @click="clickPage('historico-contribuicao')">segunda via do boleto</span>
            </div>
            <div class="TableIcons__serv">
                <img v-bind:src="icon_segunda_via_ir" width="120" height="120" style="cursor:pointer;" @click="clickPage('em-construcao')"><br>
                <span class="IconsText__serv" @click="clickPage('em-construcao')">segunda via do informe de rendimentos</span>
            </div>
            <div class="TableIcons__serv">
                <img v-bind:src="icon_extrato_contribuicoes" width="120" height="120" style="cursor:pointer;" @click="clickPage('historico-contribuicao')"><br>
                <span class="IconsText__serv" @click="clickPage('historico-contribuicao')">histórico de contribuições</span>
            </div>
            <div class="TableIcons__serv">
                <img v-bind:src="icon_simulador_contribuicoes" width="120" height="120" style="cursor:pointer;" @click="clickPage('simulador-renda')"><br>
                <span class="IconsText__serv" @click="clickPage('simulador-renda')">simulador de contribuições e aportes</span>
            </div>
            <div class="TableIcons__serv">
                <img v-bind:src="icon_simulador_emprestimos" width="120" height="120" style="cursor:pointer;" @click="clickPage('simulador-emprestimo')"><br>
                <span class="IconsText__serv" @click="clickPage('simulador-emprestimo')">simulador de empréstimos</span>
            </div>
            <div class="TableIcons__serv">
                <img v-bind:src="icon_simulador_riscos" width="120" height="120" style="cursor:pointer;" @click="clickPage('simulador-seguro')"><br>
                <span class="IconsText__serv" @click="clickPage('simulador-seguro')">simulador de riscos</span>
            </div>
            <div class="TableIcons__serv">
                <img v-bind:src="icon_historico_servicos" width="120" height="120" style="cursor:pointer;" @click="clickPage('em-construcao')"><br>
                <span class="IconsText__serv" @click="clickPage('em-construcao')">histórico de serviços</span>
            </div>
            <div class="TableIcons__serv"></div>
        </div>
    </template>            
    <template v-else>    
        <!--Serviços Mais Futuro-->
        <div class="mdl-card__supporting-text mdl-card-container div-container gridTitle__serv">
            <div class="mdl-card__supporting-text mdl-card-container div-container">     
                <div class="div_titulo_card SectionTitle__serv">
                    Serviços<br/>maisfuturo
                </div>               
            </div>
            <!-- <div class="SectionImgServicos__serv">
                <img v-bind:src="icon_view" width="55" height="55" style="cursor:pointer;" @click="toggledisplayIcon"/>
            </div> -->
        </div>
        <!-- Tabela Histórico Serviços - Ícones Pequenos -->
        <div class="mdl-card__supporting-text mdl-card-container div-container grid-2Cs__serv">                         
            <div class="TableIconsList__serv">
                <img v-bind:src="icon_segunda_via_boleto" width="55" height="55" style="cursor:pointer;" @click="clickPage('historico-contribuicao')">
            </div>
            <div style="display:flex; align-items: center; margin-left: 5px;">
                <span class="ListIconsText__serv" @click="clickPage('historico-contribuicao')">segunda via do boleto</span>
            </div>
            <div class="TableIconsList__serv">
                <img v-bind:src="icon_segunda_via_ir" width="55" height="55" style="cursor:pointer;" @click="clickPage('em-construcao')">
            </div>
            <div style="display:flex; align-items: center; margin-left: 5px;">
                <span class="ListIconsText__serv" @click="clickPage('em-construcao')">informe de rendimentos</span>
            </div>
            <div class="TableIconsList__serv">
                <img v-bind:src="icon_extrato_contribuicoes" width="55" height="55" style="cursor:pointer;" @click="clickPage('historico-contribuicao')">
            </div>
            <div style="display:flex; align-items: center; margin-left: 5px;">
                <span class="ListIconsText__serv" @click="clickPage('historico-contribuicao')">histórico de contribuições</span>
            </div>
            <div class="TableIconsList__serv">
                <img v-bind:src="icon_simulador_contribuicoes" width="55" height="55" style="cursor:pointer;" @click="clickPage('simulador-renda')">
            </div>
            <div style="display:flex; align-items: center; margin-left: 5px;">
                <span class="ListIconsText__serv" @click="clickPage('simulador-renda')">simulador de previdência</span>
            </div>
            <div class="TableIconsList__serv">
                <img v-bind:src="icon_simulador_emprestimos" width="55" height="55" style="cursor:pointer;" @click="clickPage('simulador-emprestimo')">
            </div>
            <div style="display:flex; align-items: center; margin-left: 5px;">
                <span class="ListIconsText__serv" @click="clickPage('simulador-emprestimo')">simulador de empréstimos</span>
            </div>
            <div class="TableIconsList__serv">
                <img v-bind:src="icon_simulador_riscos" width="55" height="55" style="cursor:pointer;" @click="clickPage('simulador-seguro')">
            </div>
            <div style="display:flex; align-items: center; margin-left: 5px;">
                <span class="ListIconsText__serv" @click="clickPage('simulador-seguro')">simulador de seguro de renda</span>
            </div>
            <div class="TableIconsList__serv">
                <img v-bind:src="icon_historico_servicos" width="55" height="55" style="cursor:pointer;" @click="clickPage('em-construcao')">
            </div>
            <div style="display:flex; align-items: center; margin-left: 5px;">
                <span class="ListIconsText__serv" @click="clickPage('em-construcao')">histórico de solicitações de serviços</span>
            </div>
        </div>
    </template>
</div>