.span-mais_amigos-mensagem {
    font-family: 'MaisFuturo-Bold'; 
    color: #FFFFFF;
    font-size: 18px;
    
}
.span-mais_amigos-voltar {
    
    font-family: 'MaisFuturo-Bold'; 
    color: #FFFFFF;
    font-size: 14px;    
}