@font-face {
  font-family: 'MaisFuturo-Medium';
  font-style: medium;
  font-weight: medium;
  src:
    url('./Objectivity-Medium.woff2') format('woff2'), 
  }

@font-face {
  font-family: 'MaisFuturo-Thin';
  font-style: medium;
  font-weight: medium;
  src:
    url('./Objectivity-Thin.woff2') format('woff2'), 
  }

@font-face {
  font-family: 'MaisFuturo-Regular';
  font-style: medium;
  font-weight: medium;
  src:
    url('./Objectivity-Regular.woff2') format('woff2'), 
  }
  