<!-- <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing" style="margin: auto;"> -->
<div>
    <div class="mdl-card__supporting-text mdl-card-container div-container">
        <div class="mdl-card_disclaimer">
            <div class="mdl-card-disclaimer-left">
                <div class='div_disclaimer'>
                    * Os valores apresentados são apenas estimativas e não garantem nenhum direito antecipado. Saiba mais...
                </div>                                                            
            </div>                                                            
            <div class="mdl-card-disclaimer-right" @click="openModal('disclaimerModal')" style="cursor: pointer;">
                <i class="material-icons icon-button-disclaimer">arrow_forward</i>                                      
            </div>                                                            
        </div>
    </div>

    <!--Disclaimer Modal-->
    <div id="disclaimerModal" ref="disclaimerModal" class="modal-disclamer" style="z-index: 1000;">
        <div class="modal-disclaimer-content">
            <div style="padding: 10px;">
                <span class="close" @click="closeModal('disclaimerModal')">&times;</span>   
                <div class="div_titulo_card">
                    Transparência 
                    <br>
                    Mais Futuro
                </div>
            </div>           
            <div class="mdl-card__supporting-text mdl-card-container">
                <div style="text-align: justify; font-size: 12px;" v-html="mensagem"></div>
            </div>
            <div class="mdl-shadow--2dp div_btn_contratar" @click="closeModal('disclaimerModal')">Ok, entendi!</div>   
        </div>    
    </div>
</div>
