<div name="histcontrib" class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing" style="margin: auto;">
    <!--Historico de Emprestimo-->        
   <div class="mdl-card__supporting-text mdl-card-container div-container gridTitle" style="margin-top: 20px;">
      <div class="mdl-card__supporting-text mdl-card-container div-container div_titulo_card" v-html="titulo"></div>  
      <div class="DivExtratoImg" style="text-align: center;vertical-align: middle;">
         <div style="justify-content: center; align-items: center; text-align: center; " @click="extrato()">
            <img v-bind:src="icon_extrato_contribuicoes" width="60" height="60" style="cursor:pointer;">
            <span class="TableHeader" style="color:#033166;font-weight: 500; font-size:12px; line-height: 15px;">Download<br>Extrato</span>
         </div>
         <!--<img class="ExtratoImg" v-bind:src="img_download_historico" alt="download" @click="downloadHistorico"/>            -->
      </div>    
   </div>
   <!-- Tabela Histórico de Emprestimo Div-->
   <div class="mdl-card__supporting-text mdl-card-container div-container gridHeader">
      <div class="TableHeader" style="color:#033166;font-weight: 600;">Competência </div>
      <div class="TableHeader" style="color:#033166;font-weight: 600;">Valor (R$)</div>
      <div class="TableHeader" style="color:#033166;font-weight: 600;">Status</div>
   </div>
   <div class="mdl-card__supporting-text mdl-card-container div-container grid Div_Table-Desgin" v-for="item in historico">
      <div class="TableText" style="color:#033166;font-weight: 600;">{{ item.anoMes }}</div>
      <div class="TableText" style="color:#033166;font-weight: 600;">{{ item.valor }}</div>
      <template v-if="item.pago">
         <div class="TableImg"><img v-bind:src="img_check" width="14" height="10" alt=""/></div>
      </template>
      <template v-else>
         <div class="TableImg" style="cursor: pointer;" @click="selecionarBoleto(item)">
            <img v-bind:src="img_boleto" width="30" height="20" alt="Boleto"/>            
         </div>
      </template>
   </div>
   <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
      <div class="mdl-shadow--2dp div_btn_voltar" @click="voltar()">
         Voltar
      </div>   
   </div>

   <!-- Boleto Modal -->
   <div id="boletoModal" ref="boletoModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
         <div style="padding: 5px;">
            <span class="close" @click="closeModal('boletoModal')">&times;</span>   
            <div class="div_titulo_card">
               Segunda via 
               <br>
               de Boleto
            </div>
         </div>
         <br>
         <div class="border-bottom mdl-card-container div-container div-formulario">
            <div v-if="response.numeroDePagamento">           
               <span class="Span_Label_v2">Código de barras</span><br>
               <span class="Span_Text_v2" style="font-size: 14px;">{{ response.numeroDePagamento }}</span>
               <input type="hidden" id="codigoBarras" :value="response.numeroDePagamento">
            </div>
         </div>
         <div class="mdl-shadow--2dp div_btn_contratar" @click="copiarCodigoBarras('codigoBarras')" style="font-weight: 500;">Copiar código de barras</div>
         <a class="mdl-shadow--2dp div_btn_contratar" :href="response.link" target='_blank' style="text-decoration: none;">Ver boleto em PDF</a>
      </div>    
   </div>
   
   <!--Vencimento Modal-->
   <div id="vencimentoModal" ref="vencimentoModal" class="modal" style="padding-top: 30px !important;">
      <!-- Modal content -->
      <div class="modal-content">
         <div style="padding: 5px;">
            <span class="close" @click="closeModal('vencimentoModal')">&times;</span>   
            <div class="div_titulo_card" style="font-size: 30px;">
               Segunda via 
               <br> 
               de Boleto
            </div>
         </div>
         <p v-if="boleto" style="margin: 10px 0px; color: darkred; font-weight: 500;text-align: center;">
            Atenção! Já existe um boleto de segunda via gerado para essa competência.
         </p>
         <div class="border-bottom mdl-card-container div-container div-formulario" style="float: left; width: 45%">
            <div>           
               <span class="Span_Label_v2">Competência</span><br>
               <span class="Span_Text_v2">{{ cobranca.dataBase }}</span>
            </div>
         </div>         
         <div class="border-bottom mdl-card-container div-container div-formulario" style="float: right; width: 45%">
            <div>           
               <span class="Span_Label_v2">Valor R$</span><br>
               <span class="Span_Text_v2">{{ cobranca.valor }}</span>
            </div>
         </div>
         <template v-if="boleto">
            <div class="border-bottom mdl-card-container div-container div-formulario">     
               <div style="margin-top: 60px">
                  <span class="Span_Label_v2">Código de barras</span><br>
                  <span class="Span_Text_v2" style="font-size: 14px;">{{ boleto.numeroDePagamento }}</span>
                  <input type="hidden" id="Boleto" :value="boleto.numeroDePagamento">      
               </div>                     
            </div>         
            <div style="height: 50px; margin-top: 10px; margin-bottom: 20px;">
               <div style="float: left; width: 45%">
                  <div class="mdl-shadow--2dp div_btn_contratar" @click="copiarCodigoBarras('Boleto')" style="font-weight: 500;">Copiar código</div>
               </div>
               <div style="float: right; width: 45%">
                  <a class="mdl-shadow--2dp div_btn_contratar" :href="boleto.link" target='_blank' style="text-decoration: none;">Ver PDF</a>
               </div>         
            </div>
            <div class="mdl-card-container div_vSelect_contrib div-container">                     
               <span class="Span_Label_vSelect_v2">Alterar data de vencimento</span><br>
               <v-select :searchable="false" v-model="vencimento" :options="datasValidade"></v-select>        
            </div>
         </template>         
         <template v-else="boleto">
            <div class="mdl-card-container div_vSelect_contrib div-container" style="margin-top: 80px">                     
               <span class="Span_Label_vSelect_v2">Data de vencimento</span><br>
               <v-select :searchable="false" v-model="vencimento" :options="datasValidade"></v-select>        
            </div>
         </template>                     
         <br>
         <div class="mdl-shadow--2dp div_btn_contratar" @click="emitirBoleto" ref="prosseguir" style="pointer-events:none; opacity:0.6;">
            Gerar novo boleto
         </div>   
      </div>    
   </div>
   
</div>    
