<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing" style="margin: auto;">
    <template>     
        <!-- Meu Perfil Page -->
        <div class="mdl-card__supporting-text mdl-card-container div-container Meu_Perfil">
            Meu Perfil
        </div>  

        <!--Resumo do Perfil (Box)-->          
        <div class="mdl-card__supporting-text mdl-card-container div-container mdl-shadow--2dp card_v2">
            <div class="card_left_v2">
                <img class="img_card_v2" :src="foto"/>
            </div>            
        </div>

        <div class="mdl-card__supporting-text mdl-card-container div-container mdl-shadow--2dp card_v2">
            <div class="card_left_v2">
                <img class="img_card_v2" :src="foto"/>
            </div>            
        </div>

    </template>
</div>