<div>
    <template v-if="!finalizado">
        <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
            <div class="div_titulo_card margin-auto" v-html="dados.titulo" style="margin-top: 20px;"></div>
            <div v-if='dados.msg_inicial' style="margin-top: 30px;">
                <p>
                {{ dados.msg_inicial }}
                </p>
            </div>
            <div class="grid_contratacao" v-if="dados.resumo" style="margin-top: 30px;">
                <template v-for="item in dados.resumo">                
                    <div v-html="item.nome"></div>
                    <div v-html="item.valor"></div>                                                   
                </template>
            </div>            
            <div v-if="dados.msg_vigencia" style="margin-top: 30px;">
                <p>
                {{ dados.msg_vigencia }}
                </p>    
            </div>
            <div v-if="dados.msg_novo_valor" style="margin-top: 30px;">
                <p>
                {{ dados.msg_novo_valor }}
                </p>              
            </div>
            <div v-if="dados.observacao" style="margin-top: 20px;">
                <p>
                {{ dados.observacao }}
                </p>    
            </div>
            <div v-if="error_banco" style="margin-top: 30px;color: brown;">
                <p>Ops, algum problema ocorreu e sua solicitação não foi gravada. Tente novamente mais tarde!</p>            
            </div>        
            <div style="margin-top: 30px;">
                <div class="mdl-shadow--2dp div_btn_contratar"  @click.prevent="confirmar">
                    {{ dados.label_button }}
                </div>  
                <div class="mdl-shadow--2dp div_btn_voltar"  @click.prevent="cancelar">
                    Cancelar
                </div>    
            </div>
        </div>
    </template>
    <template v-if="finalizado">
        <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
            <div class="div_titulo_card margin-auto" v-html="dados.titulo_finalizacao" style="margin-top: 30px;"></div>
            <div style="margin-top: 40px;">
                <p>{{ dados.finalizacao_msg}}</p>
            </div>    
            <div style="margin-top: 40px;">
                <p>{{ dados.finalizacao_msg_novo_valor }} {{ dados.valor_novo_Tela }} </p>
            </div>         
            <div style="margin-top: 40px;">
                <div class="mdl-shadow--2dp div_btn_contratar"  @click="retornar" style="margin-top: 40px;">
                    Retornar
                </div>
            </div>   
        </div>
    </template>
</div>