.div_descricao {
    font-family: 'MaisFuturo-Regular';
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    letter-spacing: -0.56px;
    color: #3B3C3E;
    opacity: 1;
    margin-left: 20px;
}

.slider-content {
    padding:10px;
    display: flex; 
    justify-content: flex-end;
}

.p_valor-simulado {
    font-family: 'MaisFuturo-Bold';
    line-height: 32px;
    font-size: 30px;
    letter-spacing: -0.39px;
    color: #0C7BC6;
    opacity: 1;
    letter-spacing: -2px;
    margin-left: 20px !important;
    margin-bottom: 35px !important;
}

.p_label {
    padding-left: 20px;
    margin-bottom: 0px; 
    font-size: 14px;
    font-family: MaisFuturo-Medium;
    color: #3B3C3E;
    letter-spacing: -0.19px;
    opacity: 0.7;
}