<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
    <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
        <div class="div_titulo_card margin-auto" v-html="dados.titulo"></div>        
            <!-- Slider with Starting Value -->                
            <div style="margin-top: 20px;">
                <div class="mdl-card-left" style="width: 80% !important;">
                    <div style="height: 420px; width: 100%;">
                        <div class="div_descricao margin-auto" v-html="dados.descricao"></div>
                        <p style="margin-top: 100px;">
                            <!-- <span style="font-family: MaisFuturo-Medium; color: #0C7BC6; font-size: 16px; vertical-align: top; ">R$</span> -->
                            <input inputmode="numeric"
                                   v-money="money"
                                     style="width: 100% !important;
                                            font-family: MaisFuturo-Black;
                                            font-size: 40px;
                                            color: #0C7BC6;                                            
                                            text-align: justify;
                                            padding-top: 10px;
                                            padding-left: 10px;"
                                    v-model="principal">
                        </p>
                        <br>
                        <p style="margin-bottom: 0px; font-size: 12px;">Parcelamento</p>
                        <p class="p_valor-simulado" style="line-height: 30px;">                            
                            <span style="font-size: 30px;">{{ quantidade }} x</span> 
                        </p>     

                        
                        <p class="p_valor-simulado" style="line-height: 30px;">                            
                            <span style="font-size: 30px;">de R$ {{ parcela }}</span> 
                        </p>  
                        <!-- <p>principal = {{ principal }}</p>
                        <p>min = {{ dados.slider.min }}</p>
                        <p>max = {{ dados.slider.max }}</p>        
                        <p>step = {{ dados.slider.step }}</p>        -->
                    </div>                   
                </div>
                <div class="mdl-card-right"  style="width: 20% !important; justify-content: flex-end !important;">
                    <div class="slider-content">
                        <vue-slider v-model="quantidade" ref="slider" v-bind="sliderOptions" :tooltip-formatter="formatter1"></vue-slider>                
                    </div>
                </div> 
                <div class="mdl-card__supporting-text" 
                style="height: 35px;
                background-color: rgb(12, 123, 198);
                color: #FFFFFF;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;">
                    Contratar
                </div>       
            </div>
        </div>
    </div>
</div>