<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Seu Projeto de Vida na palma da mão.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal Mais Futuro - Previdência privada</title>
  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="preconnect" href="https://www.gstatic.com">
  <link rel="preconnect" href="https://firebasestorage.googleapis.com">
  <link rel="preconnect" href="https://lh1.googleusercontent.com">
  <link rel="preconnect" href="https://lh2.googleusercontent.com">
  <link rel="preconnect" href="https://lh3.googleusercontent.com">
  <link rel="preconnect" href="https://lh4.googleusercontent.com">
  <link rel="preconnect" href="https://lh5.googleusercontent.com">
  <link rel="preconnect" href="https://lh6.googleusercontent.com">
  <link rel="preconnect" href="https://lh7.googleusercontent.com">
  <link rel="preconnect" href="https://lh8.googleusercontent.com">
  <link rel="preconnect" href="https://lh9.googleusercontent.com">

  <script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth__pt_br.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css" />


  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="/manifest.json">

  <!-- Add to home screen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Portal Mais Futuro">
  <meta name="theme-color" content="#303F9F">
  <link rel="icon" sizes="192x192" href="/images/icon-192x192.png">
  <link rel="icon" sizes="128x128" href="/images/icon-128x128.png">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Portal Mais Futuro">
  <link rel="apple-touch-icon" href="/images/icon-180x180.png">
  <link rel="apple-touch-icon-precomposed" href="/images/icon-180x180.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

  <!-- Tile icon for Win8 -->
  <meta name="msapplication-TileImage" content="/images/icon-144x144.png"> 
  <meta name="msapplication-TileColor" content="#3372DF">
  <meta name="msapplication-navbutton-color" content="#303F9F">  
  <script type="text/javascript">
      function startTime() {
          let today = new Date();          
          let hora = today.getHours();
          let minuto = today.getMinutes();
      
          // adicione um zero na frente de números<10          
          hora = checkTime(hora);
          minuto = checkTime(minuto);      
          document.getElementById('datetimenow').innerHTML= `${today.toLocaleDateString('pt-BR')} ${hora}:${minuto}`;
          t = setTimeout('startTime()',5000);
      }

      function checkTime(i) {
          if ( i < 10 ) {
              i = "0" + i;
          }
          return i;
      }
  </script>
</head>

<body class="fp-auth-state-unknown">

<!-- Theatre mode viewer -->
<div class="fp-theatre"><img class="fp-fullpic" alt="Full sized image"></div>

<section id="page-primeiro-login"  class="primeiro-login">
    <img src="../public/images/Component 54 ÔÇô 2.png" alt="Mais Futuro Logo">
    <br><br><br>
    <div class="fp-caption" style="max-width: 500px; margin: 0px 15px;">Olá! Precisamos de mais alguns dados seus, tudo bem?</div>
    <div class="fp-caption3" style="max-width: 500px; margin: 0px 15px;">Para tornar nosso relacionamento ainda melhor, pedimos que preencha os campos abaixo:</div>  
    <div class="mdl-card__supporting-text">
        <div style="max-width: 500px; text-align: center; margin: auto;">      
            <div style="margin-bottom: 20px;">
                <input class="fp-input-celular" id="celular" name="celular" autocomplete="off" value="" style="color: white; margin: auto;">
                <div id="primeiro-login-input-celular-erro" style="color: red; font-size: 12px; display:none;"></div>
            </div>
            <div style="margin-bottom: 20px;">
                <input class="fp-input-email" id="email" name="email" autocomplete="off" type="email" value="" style="color: white; margin: auto;" onblur="this.setAttribute('value', this.value);">
                <div id="primeiro-login-input-email-erro" style="color: red; font-size: 12px; display:none;"></div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <button class="mdl-button mdl-js-button mdl-color--light-blue-800 fp-confirm-dados">
                    <span class="mdl-color-text--white">Confirmar</span>
                </button>
            </div>
        </div>      
    </div>
</section>

<section id="page-aviso-validacao" class="primeiro-login">
  <img src="../public/images/Component 54 ÔÇô 2.png" alt="Mais Futuro Logo">
  <br><br><br>
  <div class="mdl-card__supporting-text">
    <div style="max-width: 500px; text-align: center; margin: auto;">
      <div class="fp-caption">Legal! Obrigado!</div> 
      <div class="fp-caption2">Suas informações foram validadas e você receberá um e-mail de verificação com um link para confirmação do processo.</div>     
      <div class="fp-caption2"><br>É só seguir com as orientações do e-mail e voltar aqui.</div>     
      <div class="fp-caption2"><br>Caso não tenha recebido o e-mail de verificação, clique abaixo. Lembre-se de verificar também na caixa de Spam, ok?</div>           
      <div style="padding-top: 45px;">
        <button class="mdl-button mdl-js-button mdl-color--light-blue-800 fp-aviso-validacao"  style="margin: 0 auto;">
          <span class="mdl-color-text--white">Reenviar e-mail de verificação</span>
        </button>
      </div>        
    </div>      
  </div>
</section>

<section id="page-confirmacao-dados-final" class="primeiro-login">
  <img src="../public/images/Component 54 ÔÇô 2.png" alt="Mais Futuro Logo">
  <br><br>
  <div class="mdl-card__supporting-text">
    <div style="max-width: 500px; text-align: center; margin: auto;">
      <div class="fp-caption">Atenção!</div> 
      <div class="fp-caption2" id="msg-participante1"></div>     
      <div class="fp-caption2" id="msg-participante2"></div>     
      <div class="fp-caption2">Agora é só seguir com as orientações do e-mail e voltar aqui.</div>     
      <div class="fp-caption2">Caso não tenha recebido o e-mail de verificação, clique abaixo. Lembre-se de verificar também na caixa de Spam, ok?</div>           
      <div style="padding-top: 30px;">
        <button class="mdl-button mdl-js-button mdl-color--light-blue-800" id="btn-reenvia-verificacao"  style="margin: 0 auto;">
          <span class="mdl-color-text--white">Reenviar e-mail de verificação</span>
        </button>
      </div>
      <div style="padding-top: 30px; display:none" id="div-nao-reconhece-email">
        <div class="fp-caption2" id="msg-participante3" style="padding-bottom: 10px;"></div>     
        <button class="mdl-button mdl-js-button mdl-color--light-blue-800 fp-aviso-validacao" id="btn-nao-reconhece-email"  style="margin: 0 auto;">
          <span class="mdl-color-text--white" id='btn-nao-reconhece-email-texto'>Solicitar a troca do e-mail</span>
        </button>
      </div>        
    </div>      
  </div>
</section>

<section id="page-confirmacao-dados" class="primeiro-login">
    <img src="../public/images/Component 54 ÔÇô 2.png" alt="Mais Futuro Logo">
    <br><br>
    <div class="fp-caption" style="max-width: 500px;">Falta pouco!<br>Por favor informe abaixo o seu cpf.</div>
    
    <div class="mdl-card__supporting-text">
        <div style="max-width: 500px; text-align: center; margin: auto;">      
            <div style="margin-bottom: 20px;">
                <input class="fp-input-cpf" id="cpf" name="cpf" autocomplete="off" placeholder="CPF" type="text" value="" style="color: white; margin: auto;">
                <div id="confirma-dados-input-cpf-erro" style="color: red; font-size: 12px; display:none;"></div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <button class="mdl-button mdl-js-button mdl-color--light-blue-800 fp-confirm-dados2">
                    <span class="mdl-color-text--white">Confirmar</span>
                </button>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
              <button class="mdl-button mdl-js-button mdl-color-text--grey-600 fp-confirm-voltar">
                <span class="mdl-color-text--white">Voltar</span>
              </button>
            </div>
        </div>      
    </div>
</section>

<!-- Splash screen Login-->
<section id="page-splash-login" class="page-splash">
  <div style="margin: 5px 0 50px 0;">
    <img src="../public/images/Component 54 ÔÇô 2.png" alt="Mais Futuro Logo">
  </div>
  <div class="fp-caption" style="max-width: 500px;">Seja bem vindo!</div>
  
  <div id="firebaseui-auth-container"></div>
</section>

<!-- Splash screen da Instalação -->
<section id="page-splash-instalacao" class="page-splash">
  <div style="margin: 5px 0 50px 0;">
    <img src="../public/images/Component 54 ÔÇô 2.png" alt="Mais Futuro Logo">
  </div>
  <div style="max-width: 500px; text-align: center;">    
    <div id="div-install" style="display: none; text-align: center;">
      <button class="mdl-button mdl-js-button mdl-color--light-blue-800" id="bt-install" style="margin: 0 auto;">
        <span class="mdl-color-text--white">Instalar o aplicativo</span>
      </button>
      <div id="div-prevdigi" style="padding-top: 20px; text-align: center;">
        <a class="fp-skip" href="http://previdenciadigital.com.br" style="padding-top: 30px;">Ainda não é cliente? Faça uma simulação.</a>        
      </div>  
    </div>
    <div id="div-continue" style="display: none; text-align: center;">
      <div class="fp-caption">Parabéns!</div> 
      <div class="fp-caption2">O portal foi instalado e está pronto para uso.<br> A partir de agora acesse o portal através do aplicativo instalado em seu dispositivo.</div>
      <div style="padding-top: 20px;">
        <button class="mdl-button mdl-js-button mdl-color--light-blue-800" id="bt-continue">
          <span class="mdl-color-text--white">Abrir o aplicativo</span>
        </button>  
      </div>
    </div>
  </div>
</section>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="fp-header mdl-layout__header mdl-color--white">
    <div class="mdl-layout__header-row fp-titlebar">
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <div class="fp-signed-in-user-container fp-signed-in-only">
          <a class="mdl-button mdl-js-button" href="/home" style="padding: 0px 5px;">
            <img src="../public/images/Component 52 ÔÇô 2@2x.png" alt="Voltar" style="height: 45px;width: 45px;">
          </a>
        </div>
        <div class="fp-signed-in-user-container fp-signed-in-only">
          <a class="fp-usernamelink mdl-button mdl-js-button">
              <div class="fp-avatar"></div>
          </a>          
        </div>
      </nav>
      
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      
      <!-- Title -->
      <span class="mdl-layout-title">
        <div class="fp-logo" style="text-align: right;">
          <img src="../public/images/icon-120x120.png" alt="Portal Mais Futuro">
        </div>
      </span>      
    </div>
  </header>
  <div  class="mdl-layout__drawer div-menu-background">
    <a href="/" class="fp-signed-out-only">
      <button class="fp-disabled-when-offline fp-sign-in-button mdl-button mdl-js-button">
        <i class="material-icons">account_circle</i> Sign in
      </button>
    </a>
    <!-- HEADER DO MENU -->
    <div class="fp-signed-in-user-container fp-signed-in-only" style="height: 170px;">
      <a class="fp-usernamelink">
        <img class="img-mais-amigos-1" src="../public/images/Component 44 ÔÇô 2@2x.png" alt="voltar" style="height: 60px; width: 60px; transform: rotate(180deg);"><br><br>
        <img class="img-mais-amigos-1" src="../public/images/Component 54 1de2 2@2x.png" alt="maisAmigosLogo" style="height: 40px; width: 60px;"><br>
        <img class="img-mais-amigos-1" src="../public/images/Component 54 2de2 2@2x.png" alt="maisAmigosLogo" style="height: 60px; width: 90px;">        
      </a>
    </div>
    <nav class="mdl-navigation">
      
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav" href="/home">Home</a>
      <hr class="hr-menu-nav"/>
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav" href="/about">Meu Cadastro</a>
      <hr class="hr-menu-nav"/>
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav" href="/simulador-emprestimo">Simulador Empréstimo</a>
      <hr class="hr-menu-nav"/>      
      <!-- <a class="mdl-navigation__link a-menu-nav" href="/simulador">Simulador</a>
      <hr class="hr-menu-nav"/> -->
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav" href="/rentabilidade">Rentabilidade</a>
      <hr class="hr-menu-nav"/>
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav" href="/">Serviços</a>
      <hr class="hr-menu-nav"/>
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav" href="/">Educação Financeira</a>
      <hr class="hr-menu-nav"/>
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav" href="/">Comunicados</a>
      <hr class="hr-menu-nav"/>
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav" href="/">Documentos</a>
      <hr class="hr-menu-nav"/>
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav" href="/">Indique um Amigo</a>
      <hr class="hr-menu-nav"/>    
      <a class="mdl-navigation__link is-active fp-signed-in-only a-menu-nav fp-sign-out">Sair</a>
      <hr class="hr-menu-nav"/>      
    </nav>
  </div>

  <!--Modal dialog-->
  <dialog id="termo-servico-dialog" class="mdl-dialog">
      <div class="mdl-card__supporting-text mdl-card-container">
          <h4 class="mdl-dialog__title" style="margin-left: 5px;font-size: 31px;">Nós protegemos sua privacidade!</h4>
          <div class="mdl-dialog__content">
              <p style="margin-left: 5px;"> A privacidade de suas informações é nossa prioridade. Leia atentamente o nosso termo de serviço e confirme abaixo:</p>
              <form class="col s12">
                <p style="display: flex;">
                  <input type="checkbox" name="allow-data-termo-servico" id="allow-termo-servico" style="width:90px;"/>
                  <label for="allow-data-termo-servico">
                    Eu li e concordo com os termos de serviço do portal, bem como concordo com o uso exclusivo das minhas informações para fins de manutenção do meu plano e projeto de vida junto ao Mais Futuro Previdência Privada.            
                  </label>
                </p>
              </form>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--amber-400 termo-servico-save" disabled style="max-width: 300px;">Continuar</button>
          </div>
      </div>
  </dialog>


  <main class="mdl-layout__content mdl-color--white">

      <!--Home Vuejs-->
      <div id="app">

          <!-- Show home -->
          <section id="page-home" class="mdl-grid fp-content" style="display: none;">
              <a></a>

              <!--Campanha-->
              <template v-for="campanha in home.campanhas" v-if="home.campanhas.vigente && campanha.ativo">
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text mdl-card-container">
                          <div class="mdl-card mdl-shadow--1dp mdl-card--campanha" v-bind:style="campanha.card_background">
                              <div class="mdl-card__media mdl-text mdl-grid center-items">
                                  <i class="material-icons icon-campanha">{{ campanha.icone }}</i>
                              </div>            
                              <div class="mdl-card__supporting-text card-campanha-titulo text-left-items">
                                  <span class="span-campanha-titulo">{{ campanha.titulo }}</span>
                              </div>
                              <div class="mdl-card__supporting-text card-campanha-desc text-left-items">
                                  <span class="span-campanha-desc">{{ campanha.descricao }}</span>
                              </div>                      
                          </div>
                      </div>
                      <div class="mdl-card__supporting-text mdl-card-container">
                          <div class="mdl-card-campanha-button-left" @click.prevent="removerCampanha(campanha)" v-bind:style="campanha.card_button_left">
                              &nbsp;&nbsp;&nbsp;Não, obrigado
                              <div>
                                  <i class="material-icons icon-button">close</i>&nbsp;&nbsp;&nbsp;
                              </div>
                          </div>
                          <div class="mdl-card-campanha-button-right" @click.prevent="contratarCampanha('simulador-emprestimo')" v-bind:style="campanha.card_button_right">
                              &nbsp;&nbsp;&nbsp;Contratar
                              <div>
                                  <i class="material-icons icon-button">arrow_forward</i>&nbsp;&nbsp;&nbsp;
                              </div>
                          </div>              
                      </div>
                  </div>
              </template>

              <!--Saudação Usuário-->
              <template v-if="home.apelido">          
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                    <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
                        <div class="mdl-card__supporting-text div_titulo_card">
                          Olá {{ home.apelido }}!
                        </div>  
                        <!-- <div class="mdl-card__supporting-text">
                            <bar :chartdata="dataSetBar"></bar>
                        </div>                         -->
                        <div class="mdl-card__supporting-text div_mensagem">
                          {{ home.mensagem }}
                        </div>
                    </div>
                  </div>
              </template>

              <!--Reserva Total Atual-->
              <template v-if="home.saldo_reserva && home.saldo_reserva.vigente">
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text mdl-card-container div_reserva_total">
                          <div class="div_reserva_text_1">
                              <dl class="dl_reserva_text">
                                  <dt class="dt_reserva_text">Reserva total atual</dt>
                                  <dd @click.prevent="toggleCategory()" class="dd_reserva_text">
                                      <span class="span_reserva_text_1">R$</span>
                                      <span class="span_reserva_text_2">{{ home.saldo_reserva.total.valor }}</span>
                                      <i class="material-icons" v-bind:class="{ rotate: toggle }">keyboard_arrow_down</i>                                
                                  </dd>
                              </dl>
                          </div>
                          <div class="mdl-card__supporting-text div_reserva_text_2">
                              maisfuturo previdência
                          </div>
                          <div v-if="toggle">                                  
                              <div class="fp-post mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing div_grafico">
                                  <grafico-reserva class="canvas_grafico_doughnut"></grafico-reserva>
                                  <div class="div_grafico_reserva_legenda">
                                    <template>
                                      <div class="div_reserva_text_1" v-for="conta in home.saldo_reserva.itens">
                                          <template v-if="conta.nome === 'Total'">
                                            <dl class="dl_reserva_legenda">
                                                <dt class="dt_reserva_legenda">{{ conta.nome }}</dt>
                                                <dd class=" dd_reserva_text">
                                                    <span class="span_reserva_legenda_1_total" v-bind:style="conta.cor">R$</span>
                                                    <span class="span_reserva_legenda_2_total" v-bind:style="conta.cor">{{ conta.valor }}</span>                                            
                                                </dd>
                                            </dl>
                                          </template>
                                          <template v-else>
                                            <dl class="dl_reserva_legenda">
                                                <dt class="dt_reserva_legenda">{{ conta.nome }}</dt>
                                                <dd class="dd_reserva_text">
                                                    <span class="span_reserva_legenda_1" v-bind:style="conta.cor">R$</span>
                                                    <span class="span_reserva_legenda_2" v-bind:style="conta.cor">{{ conta.valor }}</span>
                                                </dd>
                                            </dl>
                                          </template>
                                      </div>
                                    </template>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </template>

              <!--Projeto de Vida-->
              <template v-if="home.projeto_vida && home.projeto_vida.vigente">          
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
                          <div class="mdl-card__supporting-text div_titulo_card">
                              Projeto de <br>Vida
                          </div>
                      </div>
                  </div>
                  <div class="fp-post mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing div_grafico">                    
                      <projeto-vida class="canvas_grafico_line"></projeto-vida>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                    <div class="mdl-card__supporting-text mdl-card-container">
                        <div class="mdl-card-left">
                          <dl>
                            <template v-for="projecao in home.projeto_vida.itens.projecao" v-if="home.projeto_vida.itens.projecao">
                                <dt class="dt_projeto_vida">{{ projecao.nome }}</dt>
                                <dd class="dd_projeto_vida" v-bind:style="projecao.cor">{{ projecao.valor }}</dd>
                            </template>                        
                          </dl>
                        </div>
                        <div class="mdl-card-right">
                          <dl>
                            <template v-for="coberturas in home.projeto_vida.itens.coberturas" v-if="home.projeto_vida.itens.coberturas">                          
                              <dt class="dt_projeto_vida">{{ coberturas.nome }}</dt>
                              <dd class="dd_projeto_vida" v-bind:style="coberturas.cor">{{ coberturas.valor }}</dd>
                            </template>                                           
                          </dl> 
                        </div>
                    </div>
                  </div>


                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <template v-if="home.projeto_vida.acao.vigente">
                          <div class="mdl-card__supporting-text  margin_auto mdl-card-container">                                                
                              <div class="mdl-shadow--1dp mdl-card_projeto-vida" v-bind:style="home.projeto_vida.acao.card_background"
                             style="cursor: pointer;" @click.prevent="simuladorRenda('simulador-renda')">
                            <div class="mdl-card__supporting-text margin_auto">
                                <div class="mdl-card-campanha-button-left">
                                    <dl>
                                        <dt class="dt-card-projeto-vida">Potencial de reserva</dt>
                                        <dd class="dd-card-projeto-vida">{{ home.projeto_vida.acao.reserva_potencial }}</dd>
                                    </dl>
                                </div>
                                <div class="mdl-card-campanha-button-right">                             
                                  <dl>
                                      <dt class="dt-card-projeto-vida">Potencial de renda</dt>
                                      <dd class="dd-card-projeto-vida">{{ home.projeto_vida.acao.renda_potencial }}</dd>
                                  </dl>
                                </div>
                            </div>                                 
                            <div class="mdl-card__supporting-text margin_auto div-card-botton-projeto-vida">
                                <span class="span-card-botton-projeto-vida">{{ home.projeto_vida.acao.descricao }}</span>&nbsp;
                                <i class="material-icons icon-button">arrow_forward</i>
                            </div>
                              </div>  
                          </div>
                      </template>   
                      <template v-else>
                          <div class="mdl-card__supporting-text margin_auto mdl-card-container" style="cursor: pointer;" @click.prevent="contratacaoAberta">
                              <div class="mdl-shadow--1dp mdl-card_contribuicao" v-bind:style="home.contribuicao.acao.card_background">
                                  <span class="span-card-botton-projeto-vida">Você tem uma alteração de renda em aberto, acompanhe aqui</span>&nbsp;
                                  <i class="material-icons icon-button">arrow_forward</i>
                              </div>
                          </div>
                      </template>                      
                  </div>                
              </template>

              <!--Minhas Coberturas-->
              <template v-if="home.coberturas && home.coberturas.vigente">
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
                          <div class="mdl-card__supporting-text div_titulo_card">
                              Minhas <br>Coberturas
                          </div>
                      </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text mdl-card-container div_coberturas_label">
                          <dl class="dl-coberturas-label" style="margin-top: 0px !important;">
                              <template v-for="(coberturas, index) in home.coberturas.itens">
                                  <dt class="dt-coberturas-label">{{ coberturas.nome }}</dt>
                                  <dd class="dd-coberturas-label" v-bind:style="coberturas.cor">{{ coberturas.valor }}</dd>
                                  <p class="p-coberturas-label-separador" v-if="index < (home.coberturas.itens.length - 1)"></p>
                              </template>
                          </dl> 
                      </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                    <div class="mdl-card__supporting-text  margin_auto mdl-card-container">
                        <div class="mdl-shadow--1dp mdl-card_coberturas" v-bind:style="home.coberturas.acao.card_background" @click.prevent="simuladorSeguro('simulador-seguro')" style="cursor: pointer;">
                            <span class="span-card-botton-projeto-vida">{{ home.coberturas.acao.descricao }}</span>&nbsp;
                            <i class="material-icons icon-button">arrow_forward</i>
                        </div>
                      </div>
                  </div>
              </template>

              <!--Minha Contribuição-->
              <template v-if="home.contribuicao && home.contribuicao.vigente">
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
                          <div class="mdl-card__supporting-text div_titulo_card">
                              Minha <br>Contribuição
                          </div>
                      </div>
                  </div>
                  <div class="fp-post mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing div_grafico">
                      <contribuicao class="canvas_grafico_semi_circle"></contribuicao>
                      <div class="div_grafico_contribuicao_legenda">                    
                          <div class="div_contribuicao_text_1">
                              <template>
                                <dl class="dl_contribuicao_legenda">
                                    <dt class="dt_contribuicao_legenda">{{ home.contribuicao.total.nome }}</dt>
                                    <dd class="dd_contribuicao_text">
                                        <span class="span_contribuicao_legenda_1_total" v-bind:style="home.contribuicao.total.color">R$</span>
                                        <span class="span_contribuicao_legenda_2_total" v-bind:style="home.contribuicao.total.color">{{ home.contribuicao.total.valor }}</span> 
                                    </dd>
                                </dl>
                              </template>
                          </div>
                      </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text mdl-card-container" style="display: table;">
                          <template v-for="contribuicao in home.contribuicao.itens">
                              <p class="p-contribuicao-lista">
                                  <span class="dot" v-bind:style="contribuicao.cor" style="vertical-align: text-bottom;"></span>
                                  <span class="span-contribuicao-2">R$</span>
                                  <span class="span-contribuicao-3">{{ contribuicao.valor }}</span>
                                  <span class="span-contribuicao-4">{{ contribuicao.nome }}</span>
                              </p>
                          </template>
                      </div>
                  </div>




                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <template v-if="home.contribuicao.acao.vigente">
                          <div class="mdl-card__supporting-text margin_auto mdl-card-container">
                              <div class="mdl-shadow--1dp mdl-card_contribuicao" v-bind:style="home.contribuicao.acao.card_background"
                              style="cursor: pointer;" @click.prevent="simuladorRenda('simulador-renda')">
                                  <span class="span-card-botton-projeto-vida">{{ home.contribuicao.acao.descricao }}</span>&nbsp;
                                  <i class="material-icons icon-button">arrow_forward</i>
                              </div>
                          </div>
                      </template>  
                      <template v-else>
                          <div class="mdl-card__supporting-text margin_auto mdl-card-container" style="cursor: pointer;" @click.prevent="contratacaoAberta">
                              <div class="mdl-shadow--1dp mdl-card_contribuicao" v-bind:style="home.contribuicao.acao.card_background">
                                  <span class="span-card-botton-projeto-vida">Você tem uma alteração de renda em aberto, acompanhe aqui</span>&nbsp;
                                  <i class="material-icons icon-button">arrow_forward</i>
                              </div>
                          </div>
                      </template>
                  </div>




              </template>

              <!--Mais Amigos-->
              <template v-if="home.mais_amigos.vigente">
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text margin_auto mdl-card-container">
                          <div class="mdl-shadow--1dp mdl-card_mais_amigos" v-bind:style="home.mais_amigos.background">
                              <div style="display: contents;">
                                  <div class="mdl-card__supporting-text margin_auto div-mais_amigos-top">
                                      <div class="mdl-card-campanha-button-left">                                        
                                          <img class="img-mais-amigos-1" src="../public/images/Component 37 ÔÇô 2@2x.png" alt="maisAmigosLogo">
                                      </div>
                                      <div class="mdl-card-campanha-button-right" style="display: flex; justify-content: flex-end;">
                                          <img class="img-mais-amigos-2" src="../public/images/Component 38 ÔÇô 2@2x.png" alt="maisAmigosRedes">
                                      </div>                                
                                  </div>
                                  <div class="mdl-card__supporting-text margin_auto">
                                      <div class="mdl-card__supporting-text card-campanha-titulo text-left-items">                                        
                                          <span class="span-mais_amigos-numero">1</span>
                                          <div class="div-mais_amigos">
                                            <span class="span-mais_amigos-texto">
                                                  Indique alguém para fazer uma previdência maisfuturo.  
                                            </span>
                                          </div>
                                      </div>
                                  </div>
                                  <p class="p-mais_amigos-linha"></p>
                                  <div class="mdl-card__supporting-text margin_auto">
                                      <div class="mdl-card__supporting-text card-campanha-titulo text-left-items">                                      
                                          <span class="span-mais_amigos-numero">2</span>
                                          <div class="div-mais_amigos">
                                            <span class="span-mais_amigos-texto">
                                                  Construa uma rede para multiplicar futuro e seu $$.
                                              </span>
                                          </div>
                                      </div>
                                  </div>
                                  <p class="p-mais_amigos-linha"></p>
                                  <div class="mdl-card__supporting-text margin_auto" style="padding-bottom: 15px !important;">
                                      <div class="mdl-card__supporting-text card-campanha-titulo text-left-items">
                                        <span class="span-mais_amigos-numero">3</span>
                                        <div class="div-mais_amigos">
                                          <span class="span-mais_amigos-texto">
                                              Quantos mais amigos, maisfuturo você tem.
                                          </span>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </template>

              <!--Educação Financeira-->
              <template v-if="home.educacao_financeira.vigente">
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
                          <div class="mdl-card__supporting-text div_titulo_card">
                              Educação <br>Financeira
                          </div>
                      </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                      <div class="mdl-card__supporting-text mdl-card-container">
                          <video controls :src="home.educacao_financeira.url_video" width="100%"></video>    
                      </div>
                      <div class="mdl-card__supporting-text mdl-card-container div-educacao_financeira-titulo">
                          {{ home.educacao_financeira.titulo }}
                          A Nova Previdência - Renato Follador e Thiago Nieweglowski
                      </div>
                      <div class="mdl-card__supporting-text mdl-card-container ">                      
                        <div class="mdl-card-campanha-button-right mdl-shadow--4dp div-educacao-financeira-button" @click.prevent="">
                          Ver mais vídeos &nbsp;&nbsp;
                          <div>
                              <i class="material-icons icon-button-add">add</i>
                          </div>
                      </div>              
                      </div>
                  </div>
              </template>  
          </section>

          <!--Simulador Emprestimo-->
          <section id="page-simulador-emprestimo" class="mdl-grid fp-content" style="display: none;">
              <a></a>
              <simulador-emprestimo></simulador-emprestimo>
          </section> 

          <!--Rentabilidade-->
          <section id="page-rentabilidade" class="mdl-grid fp-content" style="display: none;">
              <a></a>
              <rentabilidade></rentabilidade>
          </section>

          <!--Simulador Seguro 
          <section id="page-simulador-seguro" class="mdl-grid fp-content" style="display: none;">
              <a></a>
              <simulador-seguro></simulador-seguro>
          </section>     -->

          <!--Simulador Renda-->
          <section id="page-simulador-renda" class="mdl-grid fp-content" style="display: none;">
              <a></a>
              <simulador-renda v-bind:dados="rendaSimulador"></simulador-renda>
          </section>
          
          <!--Consulta Contratação em Aberto-->
          <section id="page-contratacao-aberta" class="mdl-grid fp-content" style="display: none;">
              <a></a>
              <contratacao-aberta v-bind:dados="contribuicaoAberta"></contratacao-aberta>
          </section>

          <!--Pagina de Erro-->
          <section id="page-erro" class="mdl-grid fp-content" style="display: none;">
              <a></a>
              <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">
                  <div class="mdl-card__supporting-text mdl-card-container div_margem_card">
                      <br>
                      <div class="mdl-card__supporting-text div_titulo_card">
                          Ops...
                      </div>                      
                      <br>
                      <div class="mdl-card__supporting-text div_mensagem">
                        <p class="div_mensagem">Parece que houve um problema na identificação de seus dados.</p>
                        <p class="div_mensagem">Mas não se preocupe!</p>
                        <p class="div_mensagem">Por favor envie um e-mail para <b>contato@maisfuturo.com.br</b>, informe o erro abaixo e aguarde que resolveremos tudo rapidinho para você!</p>
                        <p class="div_mensagem" id="mensagem-erro"></p>
                      </div>                      
                      <div style="display: flex; align-items: center; justify-content: center;">
                        <button class="mdl-button mdl-js-button mdl-color--light-blue-800 fp-erro-sair">
                            <span class="mdl-color-text--white">Sair</span>
                        </button>
                    </div>                      
                  </div>
              </div>
          </section>

          <!-- Show a single post with comments -->
          <section id="page-post" class="mdl-grid fp-content" style="display: none;">
            <div class="fp-image-container mdl-cell mdl-cell--12-col mdl-grid">Post</div>
          </section>

          <!-- About & Contact page -->
          <section id="page-about" class="mdl-grid fp-content" style="display: none;">
            <div class="fp-help mdl-card mdl-shadow--2dp mdl-cell
                        mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <i class="fp-info material-icons">contacts</i>
                <div>
                  <p>Para entrar em contato com nosso time, envie um e-mail para contato@maisfuturo.com.br</p>

                  <p>Para outras informações, acesse nosso site institucional <a href="www.maisfuturo.com.br">www.maisfuturo.com.br</a></p>
                </div>
              </div>
            </div>
          </section>

          <!-- Terms of Services -->
          <section id="page-terms" class="mdl-grid fp-content" style="display: none;">
            <div class="mdl-card mdl-shadow--2dp mdl-cell
                        mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__title mdl-color--light-blue-700 mdl-color-text--white">
                <h2 class="mdl-card__title-text"> Termos de Serviço</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <div>
                  <p>1. Você aceita que: <br>
                    <br>
                    Ao usar o Portal Fundo Paraná e/ou contratar quaisquer produtos e serviços através do mesmo você declara que concorda (1) com estes termos e condições (os "Termos de Serviço") e (2) Política de Privacidade do Mais Futuro previdência privada, encontrada em <a href="https://www.maisfuturo.com.br">https://www.maisfuturo.com.br</a>. Se você não concordar com algum desses termos ou com a Política de Privacidade não use o Portal.<br>
                    <br>
                    2. Sobre o Mais Futuro Previdencia privada <br>
                    <br>
                    Para maiores informações sobre o Mais Futuro previdência privada, acesso nosso site: <a href="www.maisfuturo.com.br">www.maisfuturo.com.br</a><br>
                    <br>
                </div>
              </div>
            </div>
          </section>

          <!-- User Profile page -->
          <section id="page-user-info" class="mdl-grid fp-content" style="display: none;">
            <div class="fp-user-container mdl-shadow--2dp mdl-cell mdl-cell--12-col">
              <div class="fp-user-avatar"></div>
              <div class="fp-name-follow-container mdl-cell mdl-cell--8-col">
                <div class="fp-user-username"></div>
                <div class="fp-signed-in-only">
                  <label class="fp-follow mdl-switch mdl-js-switch" for="follow">
                    <input type="checkbox" id="follow" class="mdl-switch__input" value="true">
                    <span class="mdl-switch__label">Follow</span>
                  </label>
                  <label class="fp-block mdl-switch mdl-js-switch" for="block">
                    <input type="checkbox" id="block" class="mdl-switch__input" value="true">
                    <span class="mdl-switch__label">Block</span>
                  </label>
                  <label class="fp-notifications mdl-switch mdl-js-switch" for="notifications">
                    <input type="checkbox" id="notifications" class="mdl-switch__input" value="true">
                    <span class="mdl-switch__label">Habilitar notificações</span>
                  </label>
                </div>
                <div class="fp-user-detail-container">
                  <div class="fp-user-detail"><span class="fp-user-nbposts">0</span> posts</div>
                  <div class="fp-user-detail"><span class="fp-user-nbfollowers">0</span> followers</div>
                  <div class="fp-user-detail fp-user-nbfollowing-container"><span class="fp-user-nbfollowing">0</span> following</div>
                </div>
              </div>
            </div>
            <div class="fp-user-following mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
              <button class="fp-close-following  mdl-button mdl-js-button mdl-button--raised mdl-button--fab">
                <i class="material-icons">expand_less</i>
              </button>
            </div>
            <div class="fp-image-container mdl-cell mdl-cell--12-col mdl-grid">
              <div class="fp-no-posts mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop mdl-grid mdl-grid--no-spacing">
                <div class="mdl-card mdl-shadow--2dp mdl-cell
                        mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
                  No posts yet.
                </div>
              </div>
            </div>
            <div class="fp-next-page-button">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--fab">
                <i class="material-icons">expand_more</i>
              </button>
            </div>
          </section>

          <!-- Hashtags Search page -->
          <section id="page-search" class="mdl-grid fp-content" style="display: none;">
            <div class="fp-user-container mdl-shadow--2dp mdl-cell mdl-cell--12-col">
              <div class="fp-name-follow-container mdl-cell mdl-cell--8-col">
                <div class="fp-hashtag"></div>
              </div>
            </div>
            <div class="fp-image-container mdl-cell mdl-cell--12-col mdl-grid">
              <div class="fp-no-posts mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop mdl-grid mdl-grid--no-spacing">
                <div class="mdl-card mdl-shadow--2dp mdl-cell
                        mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
                  No posts found.
                </div>
              </div>
            </div>
            <div class="fp-next-page-button">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--fab">
                <i class="material-icons">expand_more</i>
              </button>
            </div>
          </section>

          <!-- Post new pic page -->
          <section id="page-add" class="mdl-grid fp-content" style="display: none;">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">
              <div class="fp-addcontainer mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
                <div class="fp-overlay">
                  <i class="material-icons">hourglass_full</i>
                </div>
                <img id="newPictureContainer" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==" alt="New Picture to Upload">
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                  <form id="uploadPicForm" action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="imageCaptionInput">
                      <label class="mdl-textfield__label" for="imageCaptionInput">Image caption...</label>
                    </div>
                    <br />
                    <button type="submit" class="fp-upload mdl-button mdl-js-button mdl-button--raised mdl-color--amber-400">
                      Upload this pic!
                    </button>
                  </form>
                  <div class="fp-legalese-add">
                    All uploaded pictures will be publicly viewable, and must adhere to the <a href="/terms">Terms of Service</a>.
                  </div>
                </div>
              </div>
            </div>
          </section>

    <!-- Toast -->
    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button type="button" class="mdl-snackbar__action"></button>
    </div>

    <!--Rodapé-->
    <footer id="home_rodape" class="mdl-mini-footer" style="margin-top: 40px;">      
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-grid mdl-grid--no-spacing margin_auto">        
            <div class="mdl-card__supporting-text mdl-card-container">
                <div class="mdl-logo div-footer-text" style="margin-bottom: 3px !important;">Política de Privacidade</div>
                <div class="mdl-logo div-footer-text" style="margin-bottom: 10px !important;">Informações de Suporte</div>            
            </div>
            <div class="mdl-card__supporting-text mdl-card-container" style="display: flex; justify-content: space-between;">
                <div class="mdl-mini-footer__left-section">
                    <a href="#"><img class="img-logo-footer" src="../public/images/Component 41 ÔÇô 2@2x.png"></a>
                </div>
                <div class="mdl-mini-footer__right-section" style="display: flex; justify-content: flex-end;">
                    <a href="#"><img class="img-redes-footer" src="../public/images/Component 42 ÔÇô 2@2x.png"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#"><img class="img-redes-footer" src="../public/images/WA Logo@2x.png"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#"><img class="img-redes-footer" src="../public/images/Component 43 ÔÇô 2@2x.png"/></a>
                </div>
            </div>      
        </div>      
    </footer>

    </div>
  </main>
</div>  
</body>
</html>
